<div id="BoxUp" onclick="CloseBlank();"></div>
<div id="AllContent">
	<script type="text/javascript">google_ad_client = "ca-pub-2073806235209608"; google_ad_slot = "8225685414"; google_ad_width = 234; google_ad_height = 60; </script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	<div class="logo-mobile"><a href="http://m.$mdomain"><img src="/template/index/logo.png" title='$sitename' alt='$sitename'></a></div>
	<div class="nav-mobile">
		$UserAuth
		<a href='http://$mdomain/modules/standart/ChangeVersion.php?to=full'>Полная версия</a>
		<a href='/add/1'>Добавить новость</a>
	</div>
<div class="C"></div>
<div id='MobileForm'>$UserForm</div>
<div class="C"></div>
$mobile
<div class="C"></div>
$Caption
$Content
<div class="C15"></div>
<div id="Bottom">
	<div class="C15"></div>
	<div class="EditText"><noindex>$editors<div class="C10"></div>
	<div class="MobileCount">$counters</div>
	</noindex></div>
    <div class="CopyText">$copyright</div>
    <div class="C"></div>
</div>
</div>

<script type="text/javascript">
    document.write("<a href='//www.liveinternet.ru/click;progorod' "+
        "target=_blank style='width:0!important;height:0!important;visibility:hidden!important;'"+
        "><img src='//counter.yadro.ru/hit;progorod?t14.6;r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";h"+escape(document.title.substring(0,150))+";"+Math.random()+
        "' alt='' title='LiveInternet: показано число просмотров за 24"+
        " часа, посетителей за 24 часа и за сегодня' "+
        "border='0' width='88' height='31'><\/a>")
</script>