<meta property='og:title' content='#МояСамара' /><meta property='og:description' content='Выставка фотографий, сделанных жителями нашего города при помощи Instagram' />
<meta property='og:url' content='http://progorodsamara.ru/mysamara' /><meta property='og:image' content='http://progorodsamara.ru/template/instasamara/mysamara.jpg' />
<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div><div class='mys'>
	
	<div class='top'><div class='t1'>Моя САМАРА</div><div class='t2'><a href='https://vk.com/public40786487' target='_blank'><img src='/template/instasamara/v.jpg' /></a><a href='http://instagram.com/my.samara' target='_blank'><img src='/template/instasamara/i.jpg' /></a></div></div>
	<div class='C'></div>
    <div class='pic'><img src='/template/instasamara/top.jpg' /><div class='info'>Газета городских новостей «Город»<br />	и портал ProGorodSamara.ru<br />	запускают вторую часть <br />	полюбившейся жителями выставки<br />Instagram-фотографий<br /><br /><b>#МояСамара</b><i>vol. 2</i></div></div>
    <div class='C20'></div>
    
    <div class='left'>
    	<div class='pr'><img src='/template/instasamara/i1.jpg' /><div class='cap'>ДЕЛАЙ ФОТОГРАФИИ</div>В конкурс принимаются Instagram-снимки всего,<br>что ассоциируется с Самарой*</div>
    	<div class='pr'><img src='/template/instasamara/i2.jpg' /><div class='cap'>СТАВЬ ХЭШТЕГ</div>В конкурсный отбор принимаются снимки, сделанные<br>в период до 9 августа, с хэштегом #МояСамара**</div>
    	<div class='pr'><img src='/template/instasamara/i3.jpg' /><div class='cap'>ПОЛУЧАЙ ПРИЗЫ</div>Авторы лучших работ будут награждаться<br>в течение всего проекта</div>
    	<div class='pr'><img src='/template/instasamara/i4.jpg' /><div class='cap'>ТВОЯ ВЫСТАВКА</div>Работы, отобранные для выставки, будут представлены<br>на одной из центральных площадок города</div>
    	<div class='C'></div>
    	<div class='green'></div>
    	<div class='C20'></div>
    	
    	$Content
    	
    	<div class='C20'></div>
    	
    	
    	<div class='pic2'><img src='/template/instasamara/bottom.jpg' /><div class='info'>Все снимки будут оценены в нескольких категориях:<br><br>«Город-курорт»<br>«Вдохновение»<br>«Старая Самара»<br>«Самара в лицах»</div></div>
    	<div class='C20'></div>
    	<div class='out'>Подпишись на нас в соцсетях:<br><b><a href='http://instagram.com/my.samara' target='_blank'>instagram.com/my.samara</a></b>,<br><b><a href='https://vk.com/samara.online' target='_blank'>vk.com/samara.online</a></b><br>
		и следи за новостями конкурса<br><br>Приглашаем бренды и компании к спонсорскому участию в проекте <br><br>По вопросам партнерства обращайтесь по следующим контактам: <br>
		evgeniya.progorod@gmail.com, т.  +7 (927) 754 99 71 - <br>Евгения Менькова, руководитель PR-отдела холдинга U-media</div>
		<div class='C20'></div>
		*Размещая фото с указанным хэштегом вы даете согласие на использование фото в рамках конкурса и на обработку своих персональных данных <br>
		**Для участия в конкурсе ваш профиль Instagram должен быть открытым
    </div>
    
    <div class='right'>
    	<div class='nm'>ЖЮРИ</div>
		<div class='sc'>
    	<div class='z'><img src='/template/instasamara/fursov.jpg' /><b>Олег Фурсов</b><br>Глава городского округа Самара</div>
	   	<div class='z'><img src='/template/instasamara/hinstein.jpg' /><b>Александр Хинштейн</b><br>Депутат Государственной Думы <a href="http://twitter.com/Khinshtein" target="_blank">@Khinshtein</a></div>
		<div class='z'><img src='/template/instasamara/stepnova.jpg' /><b>Юлия Степнова</b><br>Советник губернатора Самарской области <a href="http://twitter.com/ystepnova" target="_blank">@ystepnova</a></div>
		<div class='z'><img src='/template/instasamara/azarov.jpg' /><b>Дмитрий Азаров</b><br>Член Совета Федерации Федерального Собрания РФ <a href="http://twitter.com/D_Azaroff" target="_blank">@D_Azaroff</a></div>
		<div class='z'><img src='/template/instasamara/ryzhkova.jpg' /><b>Елена Рыжкова</b><br>Руководитель Управления информации и аналитики Самары</div>
		<div class='z'><img src='/template/instasamara/tibo.jpg' /><b>Тибо Айун</b><br>Директор КЛРОО «Альянс Франсез Самара»</div>
		<div class='z'><img src='/template/instasamara/vitaly.jpg' /><b>Виталий Копалиани</b><br>Главный редактор газеты «Город» <a href="http://Instagram.com/v_kopaliani" target="_blank">@v_kopaliani</a></div>
    	<div class='z'><img src='/template/instasamara/tarasova.jpg' /><b>Евгения Тарасова</b><br>художник</div>
	   	<div class='z'><img src='/template/instasamara/pronyahin.jpg' /><b>Алексей Проняхин</b><br>фотограф <a href="http://instagram.com/alex_dredd" target="_blank">@alex_dredd</a></div>
		<div class='z'><img src='/template/instasamara/kuranova.jpg' /><b>Ксения Куранова</b><br>фотограф <a href="http://Instagram.com/kuranova" target="_blank">@kuranova</a></div>
		<div class='z'><img src='/template/instasamara/chubarova.jpg' /><b>Оля Чубарова</b><br>вокалистка группы Cheese People <a href="https://vk.com/cheesepeople" target="_blank">@CheesePeople</a></div>
		<div class='z'><img src='/template/instasamara/burdaev.jpg' /><b>Борис Бурдаев</b><br>вокалист группы "Братья Гримм" <a href="http://Instagram.com/borisbay" target="_blank">@borisbay</a></div>
		<div class='z'><img src='/template/instasamara/braun.jpg' /><b>Александр Браун</b><br>фотограф <a href="http://instagram.com/photobraun" target="_blank">@photobraun</a></div>
		<div class='z'><img src='/template/instasamara/bashkirov.jpg' /><b>Владимир Башкиров</b><br>художник, заслуженный работник культуры РФ</div>
		<div class='z'><img src='/template/instasamara/vorobey.jpg' /><b>Павел Воробьев</b><br>Директор студии звукозаписи Play Records, руководитель, солист и композитор группы COMEDOZ</div>
		<div class='z'><img src='/template/instasamara/artemev.jpg' /><b>Дмитрий Артемьев</b><br>солист группы VLNY <a href="http://Instagram.com/vlny_official" target="_blank">@vlny_official</a></div>
    	</div>
	</div>
   
    <div class='C20'></div>

</div><div style='width:800px; margin:0 auto; text-align:center;'>$counters</div>
